.flash {
  display: flex;
  inset-block-start: var(--block-space);
  inset-inline-start: 50%;
  justify-content: center;
  position: fixed;
  transform: translate(-50%);
  z-index: 6;
}

.flash__inner {
  animation: appear-then-fade 3s 300ms both;
  background-color: var(--flash-background, var(--color-positive));
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.875rem 1.25rem;
  max-width: 32rem;

  img {
    flex-shrink: 0;
  }

  span {
    color: white;
    font-weight: 500;
    font-size: 0.9375rem;
  }
}
